#calculator {
    background-color: rgb(186, 77, 101);
    height: 400px;
    width: 250px;
    border-radius: 1cm;
    border: solid;
    border-color: #621E3E;

}

body {
    background-color: beige;
    border-radius: 1cm;
    height: 400px;
    width: 250px;
    margin-top: 150px;
    margin-left: 600px;
}

h1 {
    color: #5f052f;
    margin: 11px;
}

button {
    color: rgb(155, 61, 75);
    background-color: rgb(205, 215, 171);
    height: 40px;
    width: 45px;
    margin-left: 9px;
    font-size: large;
    font-family: fantasy;
    border-radius: 20px;
    cursor: pointer;
}

#screen {
    border: solid;
    border-color: #621E3E;
    height: 50px;
    width: 220px;
    text-align: right;
    font-size: 40px;
    color: rgb(155, 61, 75);
    background-color: rgb(205, 229, 240);
    margin-bottom: 20px;
    margin-left: 11px;
}

#row1 {
    height: 30px;
    width: 250px;
    margin-left: 7px;
    margin-bottom: 20px;
}

#row2 {
    height: 30px;
    width: 250px;
    margin-left: 7px;
    margin-bottom: 20px;
}

#row3 {
    height: 30px;
    width: 250px;
    margin-left: 7px;
    margin-bottom: 20px;
}

#row4 {
    height: 30px;
    width: 250px;
    margin-left: 7px;
    margin-bottom: 20px;
}

#row5 {
    height: 30px;
    width: 250px;
    margin-left: 7px;
    margin-bottom: 20px;
}

#clear {
    width: 103px;
    background-color: rgb(212, 149, 191);
}

#back {
    width: 103px;
    background-color: rgb(212, 149, 191);
}

.operator {
    background-color: rgb(169, 126, 169);
}

#equal {
    background-color: rgb(169, 167, 205);
}